body {
  background-color: aquamarine;
}

h1 {
  color: beige;
  display: block;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  row-gap: 10px;
  background-color: beige;
}

.App {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: fit-content;
  padding: 50px;
}