

/* CONTACT CARDS */
.contactCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px;
    width: 60%;
    border-radius: 12px;

}
.contactCards {
    flex: 1;
}

.contactCards h1 {
    color: #e45370;
    text-align: center;
    background-color: #FDE5EC;
    border-radius: 12px;
    padding: 12px 24px;
}

.contactCards p {
    text-align: center;
    color: black;
    font-size: 24px;
    
}

/* MIN WIDTH 600 px*/
@media (max-width:500px) {
    .contactCards {
        width: 80%;
    }
}