

/* CONTACT CARDS */

.contactCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 24px 24px;
    width: 60%;
}

.contactCards {
    flex: 1;
}



.contactCards h1 {
    color: #e45370;
    text-align: center;
}

.contactCards p {
    text-align: center;
    color: white;
}

/* MIN WIDTH 600 px*/
@media (max-width:500px) {
    .contactCards {

        width: 80%;
    }
}