

/* CONTACT CARDS */

.contactCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FDE5EC;
    padding: 24px 24px;
    width: 60%;
    border-radius: 12px;

}

.contactCards {
    flex: 1;
}



.contactCards h1 {
    color: #e45370;
    text-align: center;
}

.contactCards p {
    text-align: center;
    color: black;
}

/* MIN WIDTH 600 px*/
@media (max-width:500px) {
    .contactCards {

        width: 80%;
    }
}