
/* HOME CONTAINER */

.homeContainer {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    align-items: center;
    justify-items: center;
}


/* MIN WIDTH 600 px*/
@media (max-width:500px) {
    .homeContainer {
        row-gap: 12px;
    }
}