
/* LOGOS SKILLS CSS */


.logos {
    display: flex;
    flex-direction: row;
    padding: 24px 24px;
    margin-top: 48px;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
    background-color: #FDE5EC;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
    width: fit-content;
    border-radius: 12px;

}

.logos img {
    width: 58px;
    margin-top: 24px;

}

.logos h1 {
    color: #e45370;
    font-size: 5vh;
    font-style: italic;
    letter-spacing: -0.05em;
}

/* MIN WIDTH 1200 px*/
@media (max-width:1200px) {
    .logos {
        column-gap: 80px;
        width: 95%;
   
    
    }
    .logos img {
        width: 48px;
    }
}

/* MIN WIDTH 992 px*/
@media (max-width:992px) {
    .logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 12px;
        width: 70%;
        justify-items: center;
        align-content: center;
        row-gap: 24px;
        margin: 12px;
    }
    
    .logos h1 {
        grid-column: 1 / span 2;
        font-size: 48px;
    }

    .logos img {
        width: 100px;
    }


}

/* MIN WIDTH 768 px*/
@media (max-width:768px) {
    .logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: calc(95%);
        justify-items: center;
        align-content: center;
        margin: 12px;
    }
    .logos img {
        width: 120px;
    }

    .logos h1 {
        grid-column: 1 / span 2;
        color: #9e2a57;
        font-size: 60px;
        font-style: italic;
        letter-spacing: -0.05em;
    }
}


/* MIN WIDTH 680 px*/
@media (max-width:680px) {
    .logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: calc(95%);
        justify-items: center;
        align-content: center;
        row-gap: 100px;
        margin: 12px;
    }
    .logos img {
        width: 120px;
    }

    .logos h1 {
        grid-column: 1 / span 2;
        color: #9e2a57;
        font-size: 60px;
        font-style: italic;
        letter-spacing: -0.05em;
    }
    


}

@media (max-width:500px) {
    .logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        justify-items: center;
        align-content: center;
        row-gap: 100px;
        margin: 12px;
    }
    .logos img {
        width: 120px;
    }

    .logos h1 {
        grid-column: 1 / span 2;
        color: #9e2a57;
        font-size: 60px;
        font-style: italic;
        letter-spacing: -0.05em;
    }
    


}

@media (max-width:380px) {
    .logos {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        justify-items: center;
        align-content: center;
        row-gap: 100px;
        margin: 12px;
    }
    .logos img {
        width: 120px;
    }

    .logos h1 {
        grid-column: 1 / span 1;
        color: #9e2a57;
        font-size: 48px;
        font-style: italic;
        letter-spacing: -0.05em;
    }
    


}