
/* LOGOS SKILLS CSS */


.logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    column-gap: 48px;
    width: fit-content;
    border-radius: 12px;

}



.logos img {
    width: 58px;
    margin-top: 24px;

}

.logos h1 {
    color: #e45370;
    font-size: 24px;
    font-style: italic;
}

/* MIN WIDTH 1200 px*/
@media (max-width:1200px) {
    .logos {
        column-gap: 80px;
        width: 95%;
   
    
    }
    .logos img {
        width: 48px;
    }
}

/* MIN WIDTH 992 px*/
@media (max-width:992px) {
    .logos {
        grid-template-columns: 1fr 1fr;
        row-gap: 12px;
        width: 70%;
        row-gap: 24px;
        margin: 12px;
    }
    
    .logos h1 {
        grid-column: 1 / span 2;
        font-size: 48px;
        text-align: center;
    }

    .logos img {
        width: 100px;
    }


}

/* MIN WIDTH 768 px*/
@media (max-width:768px) {
    .logos {
        width: calc(95%);
    }
    .logos img {
        width: 120px;
    }

    .logos h1 {
        grid-column: 1 / span 2;
        color: #9e2a57;
        font-size: 60px;
        font-style: italic;
    }
}


/* MIN WIDTH 680 px*/
@media (max-width:680px) {
    .logos {
        row-gap: 100px;
        margin: 12px;
    }

}

@media (max-width:500px) {
    .logos {
        row-gap: 100px;
    }

}

@media (max-width:380px) {
    .logos {
        grid-template-columns: 1fr;
        width: 80%;
    }
    .logos img {
        width: 120px;
    }

    .logos h1 {
        grid-column: 1 / span 1;
        font-size: 48px;
    }
    

}