
/* RESUME */

.resume {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
    padding: 24px 12px;
    backdrop-filter: blur(16px);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
    background-color: black;
}

.resumeCard {
    display: flex;
    row-gap: 18px;
    
}
    
.resume h1 {
    font-size: 5vh;
    color: #e45370;

}

.resume a{
    color: #e45370;
    border: 2px solid #e45370;;
    transition: ease 0.5s;
    text-decoration: none;
    padding: 1vh;
}

.resume a:hover {
    transform: scale(1.1);
    color: white;
    background-color: #e45370;
}
.resumeCard {
    display: flex;
    flex-direction: column;
    align-items: center;

}


/* ICON EFFECT RESUME */
.wrapperResume {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;    
}

.wrapperResume img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


/* MIN WIDTH 600 px*/
@media (max-width:500px) {
    .resume {
        text-align: center;
        width: 80%;
    }
}