body {
    background-color: peachpuff;
}

.inputname {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.joke {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    
}

.joke > p {
    margin: 10px;
}

#yourjoke {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}