body {
    font-family: "Roboto", sans-serif;
    background-image: url("./background_img/gradient.png");
    background-size:cover;
    background-repeat: repeat-y;
    height: 100vh;
    width: 100%;   
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
  }

.navibar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 3vh;
    background-color: black;
    box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.25);
    padding: 2vh;
    margin-bottom: 1vh;
}

.navibar a {
    color: #fff;
    /* links */
    text-decoration: none;
    padding-right: 2vh;
    transition: 0.5s ease;
}

.navibar a:hover {
    transform: scale(1.2);
}

/* WATERMARK CSS */

.watermark {
    display: flex;
    flex-direction: row;
    column-gap: 1vh;
    flex-grow: 1;
    align-items: center;
    
}

.watermark h1 {
    color: #fff;
    line-height: 1.3em;
}

/* HOME CONTAINER */

.homeContainer {
    display: flex;
    flex-direction: column;
    row-gap: 15vh;
    margin-top: 7vh;
    align-items: center;
    
}

/* PRESENTATION CARD CSS */

.presentationCard {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    /* JUSTIFY CONTENT IS FOR PLACING THE PRESENTATION CARD IN THE MIDDLE*/
    justify-content: center; /* COLUMN ALIGNMENT*/
    align-items: center; /* ROW ALIGNMENT*/
    backdrop-filter: blur(16px);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
    width: 60%;
    border-radius: 12px;
    padding: 18px;

    /*TRANSITION*/
    transition: ease 0.5s;
}

.presentationCard:hover {
    transform: scale(1.1);
}

.presentationCard-paragraph{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    
}

.presentationCard-paragraph h1{
    color: #9e2a57;
    text-align: justify;
    font-size: 48px;
    letter-spacing: -0.05em;
    line-height: 1.3em; /* FROM DESIGN TUTORIAL*/
}

.presentationCard-paragraph p{
    color: black;
    text-align: justify;
    font-style: italic;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    
}

.wrapper {
    height: 220px;
    width: 220px; 
    overflow: hidden;
    
}

.wrapper img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}


/* LOGOS SKILLS CSS */

.logos {
    display: flex;
    flex-direction: row;
    padding: 3vh;
    justify-content: center;
    column-gap: 15vh;
    backdrop-filter: blur(8px);
    border-radius: 12px;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
    transition: 0.5s ease;
}

.logos img {
    width: 12vh;
    height: 12vh;
}

.logos h1 {
    color: #9e2a57;
    font-size: 5vh;
    font-style: italic;
    letter-spacing: -0.05em;
}

.logos:hover{
    transform: scale(1.1);
    
}

/* RESUME */

.resume {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5vh;
}

    
.resume h1 {
    font-size: 5vh;
    color: #e45370;

}

.resume a{
    color: #e45370;
    border: 2px solid #e45370;;
    transition: ease 0.5s;
    text-decoration: none;
    padding: 1vh;
}

.resume a:hover {
    transform: scale(1.2);
}
.resumeCard {
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* ICON EFFECT RESUME */
.wrapperResume {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    
}

.wrapperResume img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}



/* PROJECTS */


.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
    row-gap: 10vh;
    margin-top: 6vh;
    padding-left: 10vh;
    padding-right: 10vh;
    
}

.projectCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 6px;
    padding: 12px;
    backdrop-filter: blur(16px);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
}

.projectCard h2 {
    font-size: 1.5rem;
    letter-spacing: -0.05em;
    text-align: center;
    color: #e45370;

}

.projectCard p {
    text-align: center;
}

.projectCard > img {
    height: 180px;
}


.languageParagraph {
    color: #e45370;
}



/* CONTACT CARDS */

.contactCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
}

.contactCards {
    flex: 1;
}



.contactCards h1 {
    color: #e45370;
    text-align: center;
}

.contactCards p {
    text-align: center;
}

