.App {
    background-color:#fff;
    height: 100vh;
    width: 100%;   
}


.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
  }

.navibar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-top: 2vh;
    gap: 20px;
    box-shadow: 5px 5px 5px #E5E0FF;
    
}

.navibar a {
    color: #7286D3;
    /* links */
    text-decoration: none;
    padding-right: 2vh;
}

.watermark {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    
}

.watermark h1 {
    color: #7286D3;  
}

.presentationCard {
    display: flex;
    flex-direction: row;
    /* JUSTIFY CONTENT IS FOR PLACING THE PRESENTATION CARD IN THE MIDDLE*/
    justify-content: center;
    align-items: center;
    column-gap: 2vh;
    box-shadow: 0px 10px 5px #E5E0FF;
    padding-top: 15vh;
    padding-bottom: 5vh;
    
}

.presentationCard-paragraph{
    max-width: 25%;
    text-align: justify;
    margin: 5px;
    
    
    
}

.presentationCard-paragraph h1{
    color: #7286D3;
    transition: 0.5s ease;
    
}

.presentationCard-paragraph h1:hover{
    transform: scale(1.1);
}

.presentationCard-paragraph p{
    color: black;
    margin: 5px;
    transition: 0.5s ease;
    
}

.presentationCard-paragraph p:hover{
    transform: scale(1.1);
}

.wrapper {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #E5E0FF;
    
}

.wrapper img {
    height: 100%;
    width: auto;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor:pointer;
}

.wrapper img:hover{
    transform: scale(1.3);
    filter: grayscale(0%);
}

.logos {
    display: flex;
    flex-direction: row;
    padding: 3vh;
    margin: 5vh;
    justify-content: center;
    column-gap: 15vh;
    box-shadow: 0px 10px 5px #E5E0FF;
    

}

.logos img {
    width: 12vh;
    height: 12vh;
    background-color: #fff;
    transition: 0.5s ease;
}

.logos h1 {
    color: #7286D3;
    font-size: 5vh;
}

.logos img:hover{
    transform: scale(1.3);

}