body {
    font-family: "Roboto", sans-serif;
}


.App {
    background-image: url("./background_img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;   
    
}


.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
  }

.navibar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 3vh;
    background-color: black;
    box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.25);
    padding: 2vh;
    margin-bottom: 1vh;
}

.navibar a {
    color: #fff;
    /* links */
    text-decoration: none;
    padding-right: 2vh;
    transition: 0.5s ease;
}

.navibar a:hover {
    transform: scale(1.2);
}

/* WATERMARK CSS */

.watermark {
    display: flex;
    flex-direction: row;
    column-gap: 1vh;
    flex-grow: 1;
    align-items: center;
    
}

.watermark h1 {
    color: #fff;
    line-height: 1.3em;
}

/* HOME CONTAINER */

.homeContainer {
    display: flex;
    flex-direction: column;
    row-gap: 15vh;
    margin-top: 5vh;
    align-items: center;
    
    
}

/* PRESENTATION CARD CSS */

.presentationCard {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    /* JUSTIFY CONTENT IS FOR PLACING THE PRESENTATION CARD IN THE MIDDLE*/
    justify-content: center; /* COLUMN ALIGNMENT*/
    align-items: center; /* ROW ALIGNMENT*/
    backdrop-filter: blur(16px);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
    width: 60%;
    border-radius: 12px;
    padding: 18px;
    
}

.presentationCard-paragraph{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    
}

.presentationCard-paragraph h1{
    color: black;
    font-size: 48px;
    letter-spacing: -0.05em;
    line-height: 1.3em; /* FROM DESIGN TUTORIAL*/
}

.presentationCard-paragraph p{
    color: black;
    text-align: justify;
    font-style: italic;
    letter-spacing: -0.02em;
    line-height: 1.5em;
    
}

.wrapper {
    height: 220px;
    width: 220px; 
    overflow: hidden;
    
}

.wrapper img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}


/* LOGOS SKILLS CSS */

.logos {
    display: flex;
    flex-direction: row;
    padding: 3vh;
    justify-content: center;
    column-gap: 15vh;
    backdrop-filter: blur(8px);
    border-radius: 12px;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
}

.logos img {
    width: 12vh;
    height: 12vh;
    background-color: #fff;
    transition: 0.5s ease;
}

.logos h1 {
    color: black;
    font-size: 5vh;
    font-style: italic;
}

.logos img:hover{
    transform: scale(1.3);
    
}

/* RESUME */

.resume {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5vh;
}

    
.resume h1 {
    font-size: 5vh;
    color: #7286D3;
    transition: ease 0.5s;
}

.resume h1:hover {
    transform: scale(1.2);
}

.resume a{
    color: #7286D3;
    border: 2px solid #7286D3;
    transition: ease 0.5s;
    text-decoration: none;
    padding: 1vh;
}

.resume a:hover {
    transform: scale(1.2);
}
.resumeCard {
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* ICON EFFECT RESUME */
.wrapperResume {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 0px solid #E5E0FF;
    
}

.wrapperResume img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor:pointer;
}


.wrapperResume img:hover{
    transform: scale(1.3);
    filter: grayscale(0%);
}

/* PROJECTS */

.projectsContainer > h1 {
    color: #7286D3;
    padding-left: 10vh;
}

.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    padding-left: 10vh;
    padding-right: 10vh;
    
}

.card {
    padding: 5vh;
    
}

.card p {
    text-align: justify;
}

.card img {
    width: 240px;
    height: 180px;
    /* ALIGN SELF TO ALIGN THE IMG AT THE CENTER*/
    align-self: center;
    transition: ease 0.5s;
}

.card img:hover {
    transform: scale(1.1);
}



.cardImg {
    width: 30vh;
    height: auto;
    
}



.language {
    color: #7286D3
}

.projecttitlecard {
    color: #7286D3;
}

/* CONTACT CARDS */

.contactCards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactCards {
    flex: 1;
}

.contactCards h1 {
    color: #7286D3;
    text-align: center;
}

.contactCards p {
    text-align: center;
}

